.contact-page{

width:90%;
margin:60px auto;

}

.contact-page h2{

text-align:center;

font-size:42px;

color:#36317d;

margin-bottom:50px;

}

.contact-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.contact-card{

background:white;

padding:40px 30px;

border-radius:20px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.contact-card:hover{

transform:translateY(-8px);

}

.icon{

width:80px;

height:80px;

background:#f3f3ff;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:34px;

color:#3c3a8e;

margin-bottom:25px;

}

.contact-card h3{

margin-bottom:20px;

color:#2d2b73;

}

.contact-card p{

line-height:1.7;

color:#666;

}

@media(max-width:992px){

.contact-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.contact-grid{

grid-template-columns:1fr;

}

.contact-page h2{

font-size:30px;

}

}.contact-page{

width:90%;
margin:60px auto;

}

.contact-page h2{

text-align:center;

font-size:42px;

color:#36317d;

margin-bottom:50px;

}

.contact-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.contact-card{

background:white;

padding:40px 30px;

border-radius:20px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.contact-card:hover{

transform:translateY(-8px);

}

.icon{

width:80px;

height:80px;

background:#f3f3ff;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:34px;

color:#3c3a8e;

margin-bottom:25px;

}

.contact-card h3{

margin-bottom:20px;

color:#2d2b73;

}

.contact-card p{

line-height:1.7;

color:#666;

}

@media(max-width:992px){

.contact-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.contact-grid{

grid-template-columns:1fr;

}

.contact-page h2{

font-size:30px;

}

}