.faq-page{

width:85%;
margin:60px auto;

}

.faq-card{

background:#f8f8ff;

border-radius:12px;

margin-bottom:20px;

overflow:hidden;

box-shadow:0 3px 10px rgba(0,0,0,.05);

}

.faq-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 30px;

cursor:pointer;

font-weight:600;

font-size:18px;

color:#2f2c7c;

}

.faq-header svg{

font-size:20px;

}

.faq-body{

max-height:0;

overflow:hidden;

transition:.4s;

background:white;

}

.faq-body.active{

max-height:300px;

padding:25px 30px;

}

.faq-body p{

line-height:1.8;

color:#666;

}

@media(max-width:768px){

.faq-page{

width:95%;

}

.faq-header{

padding:20px;

font-size:16px;

}

}